[Unit]
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=%h
Restart=on-failure
RestartSec=13s
ExecStart=kinit -r 192:00:00 -f -k -t .kerberos/akossi@CERN.CH.keytab akossi@CERN.CH

[Install]
WantedBy=network-online.target
