[Unit]
Description=OpenRGB profile loader

[Service]
Type=oneshot
ExecStart=/usr/bin/openrgb --profile Off.orp
RemainAfterExit=yes

[Install]
WantedBy=default.target
