* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Hack Nerd Font Mono;
    font-size: 16px;
}

window#waybar {
    /*background-image: linear-gradient(180deg, #000000, rgba(0,0,0,0));*/
    background: rgba(0,0,0,0);
    border: 0px solid rgba(100, 114, 125, 0.5);
    color: #c0caf5;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* cffi#power-mod { */
/*background-image: linear-gradient(180deg, #000000, rgba(0,0,0,0));*/
/*     background: rgba(0,0,0,0); */
/*     border: 0px solid rgba(100, 114, 125, 0.5); */
/*     color: #c0caf5; */
/*     transition-property: background-color; */
/*     transition-duration: .5s; */
/* } */

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px white; */
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /*box-shadow: inset 0 -1px #00e5fb;*/
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #c0caf5;
}

/*#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #c0caf5;
}*/

#workspaces button.active {
    box-shadow: inset 0 -1px #7dcfff;
}

#workspaces button.urgent {
    background-color: rgba(247, 118, 142, 0.4);
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #c0caf5;
}



#clock,
#cpu,
#memory,
#disks,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpris,
#mpd {
    padding: 1px 6px;
    color: #c0caf5;
    /*background-color: #1a1b26;*/
    background-image: linear-gradient(150deg, #1a1b26, #313848);
    border-radius: 4px;
    margin: 2px 2px 2px 0px;
}

#battery_and_power {
    padding: 1px 6px;
    color: #c0caf5;
    /*background-color: #1a1b26;*/
    background-image: linear-gradient(150deg, #1a1b26, #313848);
    border-radius: 4px;
    margin: 2px 2px 2px 0px;
}

#custom-notifications {
    font-size: 24px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#right {
    padding: 0px 0px 0px 2px;
    margin: 2px 2px 2px 2px;
    background-image: linear-gradient(90deg, #bb9af7, #f7768e);
    border-radius: 5px;
}

/*#clock {
    background-color: #64727D;
}*/

/*#battery {
    background-color: #f5fffa;
    color: #1a1b26;
}

#battery.charging, #battery.plugged {
    color: #1a1b26;
    background-color: #9ece6a;
}*/

@keyframes blink {
    to {
        background-color: #c0caf5;
        color: #1a1b26;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #c0caf5;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #c0caf5;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #c0caf5;
}

label:focus {
    background-color: #1a1b26;
}

#cpu {
    background-color: #1a1b26;
    color: #1a1b26;
}

/*#memory {
    background-color: #bb9af7;
    color: #1a1b26;
}*/

/*#disk {
    background-color: #e0af68;
    color: #1a1b26;
}*/

#backlight {
    background-color: #1a1b26;
}

/*#network {
    background-color: #7aa2f7;
    color: #1a1b26;
}

#network.disconnected {
    background-color: #f53c3c;
}*/

#pulseaudio {
    /* background-color: #c0caf5;
    color: #1a1b26; */
    color: #c0caf5;
}

#pulseaudio.muted {
    color: #f7768e;
}

#wireplumber {
    background-color: #c0caf5;
    color: #1a1b26;
}

#wireplumber.muted {
    color: #f7768e;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#bluetooth {
    color: #c0caf5;
}


#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #1a1b26;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#custom-notifications {
    padding: 0 5px 0 8px;
}
#disk.root {
    padding: 0 10px 0 0px;
}

